body {
	margin: 0;
	padding: 0;
}


/* HEADER SHIZZ */

header {
	padding:0px;
	margin:0px;
	width: 100%;
	height:auto;
	top:0;
	left:0;
	z-index: 999;
	/*background-image: url('img/ignasi_pattern_s.png');*/
	/* Background pattern from subtlepatterns.com */
	background-color:white;
	border-bottom: 1px solid lightgrey;

	-webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.16);
}

header #title {
	padding-top:10px;
	padding-bottom: 20px;
	max-width: 960px;
	min-width:700px;
	height: auto;
	margin: 0 auto;
}

h1#logo {
	margin-top:0;
	margin-bottom:0;
	text-align: center;
	font-family: 'Vidaloka', serif;
	font-size:38px;
	font-weight:600;
}

#grades-input {
	max-width: 440px;
	height: auto;
	margin: 0 auto;
	font-family: 'Overpass', sans-serif;
	font-weight:600;
	font-size: 32px;
	padding:0;
}


/* FOOTER SHIZZ */
#footer {
	width:100%;
	height:110px;
	background-color:#EEEEEE;
	/*border-top:1px solid black;*/
}
#footer-content {
	padding-top:10px;
	/*padding-bottom: 20px;*/
	padding-right:50px;
	max-width: 960px;
	height: auto;
	margin: 0 auto;
	font-family: 'Overpass', sans-serif;
	text-align: right;
	font-size:14px;
}
#source-link {
	display:inline-block;
	background-color:white;
	padding-left:10px;
	/*padding-bottom:5px;*/
	padding-right:5px;
	padding-top:10px;
	margin-bottom:5px;
}
#footer a {
	text-decoration: none;
	color: black;
	font-weight:600;
}
#footer p {
	margin-bottom:5px;
}

/* SIDEBAR SHIZZ */
#sidebar {
	z-index: 99;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: -300px;
	width: 200;
	/*padding-top: 30px;*/
	overflow-y: scroll;
	/*padding: 30px;*/
	background-color: white;
	border: 1px solid gainsboro;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; 
}

.toggle {
/*	position:fixed;
	top: 120px;
	left: 300px;
	z-index:1000;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Overpass Mono', monospace;
	color: gray;
	cursor: pointer;*/
	position:relative;
	top:10px;
	/*left:850px;*/
	text-decoration: none;
	cursor:pointer;
	z-index:998;
	display:inline-block;
	margin:0;
	padding:0;
}
.toggle div {
	font-size:12px;
	padding: 0 5px;
	font-family: 'Overpass Mono', monospace;
	/*font-family: 'Overpass', sans-serif;*/
	/*font-family: 'Vidaloka', serif;*/
	background-color:black;
	color:white;
	display:inline-block;
	font-weight:400;
	/*letter-spacing: 2px;*/
}

#sidebartoggler {
	display:none;
}

/*#sidebartoggler:checked ~ #sidebar {
	left: 0px;
}*/

/* FILTER LABELS SHIZZ */
.filter-label {
	font-family: 'Overpass', sans-serif;
	font-size: 16px;
	position: relative;
	/*display:block;*/
	padding:0px;
	margin:0;
	padding-left: 45px;
	cursor:pointer;
	display:inline-block;
}

input[type='checkbox'],input[type='radio'] {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -999;
	opacity: 0;
}

.filter-indicator {
	position: absolute;
	top: -1px;
	left: 15px;
	width: 20px;
	height: 20px;
	/*border: 1px solid black;*/
	background: lightgray;
}

/* Check mark */
.filter-indicator:after {
	position: absolute;
	display: none;
	content: '';
}
/* Show check mark */
.filter-label input:checked ~ .filter-indicator:after {
	display: block;
}
/* Checkbox tick */
/*.filter-label .filter-indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
	border-color:black;
}*/

/* Checkbox color */
.filter-label input:checked ~ .filter-indicator {
	background: black;
}




/* buttons */
button#sort-button:hover{
	cursor: pointer;
	background-color: gainsboro;
}
button#reset-button:hover{
	cursor: pointer;
	background-color: dimgrey;
}
button#reset-button:active {
	background-color: black;
}
button#sort-button:active {
	background-color: silver;
}
    button#sort-button {
      font-family: 'Overpass', sans-serif;
      background: transparent; outline: none;
      position: relative;
      border: 2px solid #111;
      padding: 10px 40px;
      overflow: hidden;
      letter-spacing: 3px;
      font-weight: 600;
      font-size: 14px;
      margin: 0 auto;
      /*margin-left:20px;*/
      margin-bottom: 20px;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; 
      display: block;
    }

     button#reset-button {
      font-family: 'Overpass', sans-serif;
      background: grey; outline: none;
      color: white;
      position: relative;
      border: 2px solid #111;
      padding: 10px 35px;
      overflow: hidden;
      letter-spacing: 3px;
      font-weight: 600;
      font-size: 14px;
      margin: 0 auto;
      /*margin-left:20px;*/
      margin-bottom: 15px;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; 
      display: block;
    }


    /* DATA SELECTION BUTTONS */
    #selection {
    	padding: 0;
    	/*background-color:gainsboro;*/
    	/*border-bottom:1px solid gainsboro;*/
    	margin-bottom:20px;
    }
    .data-selection {
    	/*width:100%;*/
    	font-family: 'Overpass', sans-serif;
    	font-family: 'Vidaloka', serif;
    	font-weight:400;
    	margin:0;
    	padding:10px 0;
    	border-bottom:1px solid gainsboro;
    	/*padding-left:20px;*/
    	display:block;

    }
    .data-selection div {
    	width:100%;
    	display:inline-block;
    	cursor: pointer;
    	-moz-transition: all 0.3s;
    	-o-transition: all 0.3s;
    	-webkit-transition: all 0.3s;
    	transition: all 0.3s; 
    	font-size:22px;
    	color:silver;
    	text-align:center;
    }
    .data-selection input:checked + div {
    	/*border-bottom: 2px solid red;*/
    	/*font-size:24px;*/
    	color:black;
    	font-weight:600;
    	-moz-transition: all 0.3s;
    	-o-transition: all 0.3s;
    	-webkit-transition: all 0.3s;
    	transition: all 0.3s; 
    }


/* ACCORDION SHIZZ */
#tab-group {
	margin: 0;
	/*margin-top:10px;*/
	width: 250px;
	/*padding: 30px;*/
}

.tab {
	position: relative;
	width: 100%;
	/*padding-top: 10px;*/
	/*margin: 5px;*/
	/*margin-top: 10px;*/
	/*border-top: 1px solid gainsboro;*/
}

.tab-header {
	width: 100%;
	background-color: white;
	border-top:1px solid gainsboro;
	padding: 10px 0;
}

/*.tab input {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -999;
	opacity: 0;
}
*/


.accordion-label {
	display: inline-block;
	/*float:right;*/
	transition: letter-spacing .55s;
	font-family: 'Overpass', sans-serif;
	font-size: 18px;
	color: black;
	margin-left: 5px;
}

.accordion-label:hover {
	color:black;
	cursor:pointer;
}

/* when + is hovered or focused 
.accordion-label:focus,
.accordion-label:hover {
	color: black;
}
*/
.accordion-label input:checked {
	color: black;
}

.tab-content {
	max-height: 0;
	overflow: hidden;
	transition: all 1.0s;
	/*margin-bottom: 5px;*/
	padding-right: 20px;
	background-color: rgb(230, 230, 230);
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: all 0.8s; 
}

.filter-labels {
	width: auto;
	display: block;
	padding-bottom: 8px;
	/*padding: 10px 0;*/
}

.filter-labels:first-child {
	padding-top: 8px;
}

.tab-header input:checked ~ .tab-content {
	max-height: 1000px;
}

.course-checkbox {
	/*font-size: 15px;*/
	/*font-weight: 600;*/
}
.faculty-checkbox {
	/*font-weight: 600;*/
	/*font-family: 'Vidaloka', serif;*/
	/*font-size: 18px;*/
}



/* INPUT SHIZZ */
input[type='text'] {
	display: inline-block;
	margin: 0;
	width: 50px;
	font-family: 'Overpass', sans-serif;
	font-size: 38px;
	font-weight: 600;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	padding: 0;
	border: none;
	border-bottom: solid 2px gainsboro;
	transition: border 0.3s;
	text-align: center;
	text-transform: uppercase;
}
input[type='text']:focus {
	outline: none;
	border-bottom: solid 2px dimgrey;
}
input[type='text']:not(:focus):placeholder-shown {
	border-bottom: solid 2px gainsboro;
}
input[type='text']:not(:placeholder-shown) {
	border-bottom: solid 2px dimgrey;
}
input[type='text']:invalid {
	border-bottom: solid 2px red;
	color: gainsboro;
}







/* CHART SHIZZ STARTS HERE*/

svg {
	position:relative;
	z-index: 0;
}

#chart {
     max-width: 960px;
     min-width:700px;
     margin: 0 auto;
}

.x_axis {
	position:fixed;

}

.x_axis path,
.x_axis line {
	fill:none;
	stroke:none;
	shape-rendering: crispEdges;
}

.y_axis path,
.y_axis line {
	fill:none;
	stroke:black;
	shape-rendering: crispEdges;
}


.y_axis text,
.x_axis text {
	font-family: 'Overpass', sans-serif;
	font-size: 11px;
	font-weight: 600;
}

.grid .tick {
	stroke: lightgrey;
	stroke-opacity: 1.0;
	shape-rendering: crispEdges;
}

.grid path {
	stroke-width: 0;
}

input[type='checkbox']:checked + div {
	background: black;
}

/* BARS COLORS */
rect {
	fill:gainsboro;

}
/*.Engineering {
	fill:#80DEEA;
	background:#80DEEA;
}*/
.filter-label input:checked ~ .filter-indicator.Engineering {
	background:#80DEEA;
}

/*.Science {
	fill:#80CBC4;
	background-color:#80CBC4;
}*/
.filter-label input:checked ~ .filter-indicator.Science {
	background:#80CBC4;
}
/*
.DesignEnvironment {
	fill:#FFCC80;
	background:#FFCC80;
}*/
.filter-label input:checked ~ .filter-indicator.DesignEnvironment {
	background:#FFCC80;
}

/*.FASS {
	fill:#FFF59D;
	background-color:#FFF59D;
}*/
.filter-label input:checked ~ .filter-indicator.FASS {
	background:#FFF59D;
}

/*.Business{
	fill:#FFAB91;
	background-color:#FFAB91;
}*/
.filter-label input:checked ~ .filter-indicator.Business {
	background:#B39DDB;
}

/*.Computing {
	fill:#81D4FA;
	background-color:#81D4FA;
}*/
.filter-label input:checked ~ .filter-indicator.Computing {
	background:#90CAF9;
}

/*.Medicine {
	fill:#EF9A9A;
	background-color:#EF9A9A;
}*/
.filter-label input:checked ~ .filter-indicator.Medicine {
	background:#EF9A9A;
}

/*.Law {
	fill:#F48FB1;
}*/
.filter-label input:checked ~ .filter-indicator.Law {
	background:#F48FB1;
}

/*.EnvironmentalStudies {
	fill:#C5E1A5;
	background-color:#C5E1A5;
}*/
.filter-label input:checked ~ .filter-indicator.EnvironmentalStudies {
	background:#C5E1A5;
}

/* rect shenenigains */
/*rect {
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; 
}*/

/*
rect:hover {
	stroke:grey;
}*/

/*rect:hover {
	opacity:1.0;
}
*/
/* TOOLTIP */
#tooltip {
	position: absolute;
	width: auto;
	height: auto;
	padding: 5px 12px;
	background-color: white;
	border: 2px solid rgba(211,211,211,0.5);
        /*-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);*/
    pointer-events: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; 
    z-index: 5;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin:0;
}
#tooltip div:first-child {
	margin-top: 5px;
}
#course-name {
	margin: 0;
	font-family: 'Overpass', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

#main-value {
	margin: 0;
	font-family: 'Overpass Mono', monospace;
	font-family: 'Overpass', sans-serif;
	font-size: 32px;
	font-weight: 700;
	display: inline-block;
	padding-top: 7px;
}
#male-value {
	font-family: 'Overpass Mono', monospace;
	font-family: 'Overpass', sans-serif;
	font-size: 32px;
	font-weight:700;
	display: inline-block;
	padding-right: 10px;
	padding-top: 7px;
	border-right: 2px solid black;
	/*color: rgb(33,97,250);*/
}
#female-value {
	font-family: 'Overpass Mono', monospace;
	font-family: 'Overpass', sans-serif;
	font-size: 32px;
	font-weight:700;
	display: inline-block;
	padding: 0 10px;
	padding-top: 7px;
	/*color: rgb(255,51,51);*/
}
.value-header {
	font-family: 'Overpass', sans-serif;
	font-size: 15px;
}
.secondary-value {
	font-family: 'Overpass Mono', monospace;
	font-family: 'Overpass', sans-serif;
	font-weight:700;
	font-size:15px;
	/*color:grey;*/
}

.chart-title {
	font-family: 'Overpass', sans-serif;
	font-weight:600;
	/*fill:silver;*/
	opacity:0.5;
}